// 圖片放大效果
.imgHover {
    img{
        transition: all 0.7s ease-out;
    }
    &:hover img{
        transform: scale(1.1);
    }
}
// 產品卡片跳動效果
.boxTranslate:hover {
    transform: translate(5px, -5px);
}
// .allProductActive {
//     color: var(--bs-accordion-active-color);
//     background-color: var(--bs-accordion-active-bg);
// }
.btn-cusDarkBrown:hover {
    background-color: var(--bs-cusBrown);
}